<table>
    <tr>
        <th>Tipo de servicio</th>
        <th>Efectivo</th>
        <th>Tarjeta Bancaria</th>
        <th>Transferencia</th>
        <th>Talón</th>
        <th>Cheque</th>
    </tr>
</table>